
//space
$module-space-base: 16px;
$module-space-lg: $module-space-base*1.5;
$module-space-sm: $module-space-base/2;

.rsFormList {
  margin-bottom: $module-space-base;
  padding: $module-space-base;
  .form-button-layout {
    text-align: center;
    .ant-btn {
      margin-left: $module-space-sm;
    }
  }
  .default-form {
    height: 100px;
    overflow: hidden;
  }
  .show-form {
    //max-height: 55px*10;
    height: auto;
  }
  .hidden-form{
    height: 0px;
    overflow: hidden;
  }
  .hidden-form:after {
    clear: both;
    visibility: hidden;
    font-size: 0;
    height: 0;
  }
  .ant-form-item{
    margin-bottom: 0;
    height: 50px;
  }
}
.ant-calendar-time .ant-calendar-footer .ant-calendar-time-picker-btn{display: none !important;}
